<form [formGroup]="familyForm" (ngSubmit)="onSubmit()">
  <div>
    <label>User</label>
      <select formControlName="relative">
    <option  [value]="user.id" *ngFor="let user of user_data"> 
    {{user.first_name}} {{user.last_name}} 
    </option>
</select>
  </div>
  <div>
    <label>Relation</label>
      <select formControlName="relations">
    <option  [value]="relation.id" *ngFor="let relation of data"> 
    {{relation.relation}}</option>
</select>
  </div>
  <div>
    <button class="primary">Find</button>
  </div>
</form>

<hr>
<table class="table">
    <td>First Name</td>
    <td>Last Name</td>
    <tr *ngFor="let relative of relative_data">
      <td>{{ relative.relative.first_name}}</td>
      <td>{{ relative.relative.last_name}}</td>
      <button class="primary" (click)="onDelete(relative.id, relative.added_by)">Delete</button>
      <button class="primary" (click)="confirmEdit(relative.added_by)">Edit</button>
      <ng-container *ngIf="show">
        <select>
            <option (click)="onUpdate($event, relative.id, relative.relation)"
            [value]="relation.id" *ngFor="let relation of data"> 
            {{relation.relation}}</option>
        </select>
    </ng-container>
 </table>
